*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
   width: 100vw;
   min-height: 100vh;
   background: #ced8ff;
}

.navbar {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #1c2841;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px ;
    z-index: 1000;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    border-radius: 3px;
}

.navbar nav ul {
    display: flex;
    align-items: center;
    margin-left: 0;
    padding-left: 0;
}

.logo{
    width: 160px;
    cursor: pointer;
}

.navbar ul li:first-child {
    margin-right: auto;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    color: #d11f1f;
    letter-spacing: 2px;
    padding-right: 55px;
    /* Ensures CARSOKO is leftmost */
}


.navbar ul li:hover{
    color: #1f57d1;
    transition: 0.3s;
}

.navbar ul{
    flex: 1;
    list-style: none;
    text-align: center;
    
}

.navbar ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
}

.toggle-icon{
    width: 50px;
    cursor: pointer;
    margin-left: 40px;
}

.search-box{
    display: flex;
    align-items: center;
    background-color:#3d3d3d;
    padding: 10px 20px;
    border-radius: 50px;
}

.search-box input{
    padding: 6px;
    border: none;
    outline: none;
    color: #231e86;
    font-size: 18px;
    max-width: 200px;
}

.search-box input::placeholder{
    color: #95bde2;
    font-size: 18px;
    font-weight: 300;
}

.search-box img{
    width: 20px;
    cursor: pointer;
    background-color: rgb(148, 148, 206);
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    transition: 0.3s;
    display: flex;
}

/* Optional: Add padding-top to your main content to prevent it from being hidden under the navbar */
.main-content {
    padding-top: 70px; 
    /* Adjust based on navbar height */
}